body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list-inline-item .btn-outline-info {
  margin-bottom: 10px;
  font-weight: 500;
  border-radius: 25px;
}

.fa-chevron-circle-right {
  font-size: 30px;
  color: yellow;
  cursor: pointer;
}

.fa-chevron-circle-right:hover {
  color: white;
}

#header {
  height: 46px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}